[submodule "accel_anchor-esrow"]
	path = accel_anchor-esrow
	url = https://github.com/rahulpatle-sol/accel_anchor-esrow.git
[submodule "whitelist-transfer-hook-q2"]
	path = whitelist-transfer-hook-q2
	url = https://github.com/rahulpatle-sol/whitelist-transfer-hook-q2.git
[submodule "magicblock-er-example"]
	path = magicblock-er-example
	url = https://github.com/rahulpatle-sol/magicblock-er-example.git
[submodule "tuktuk-counter"]
	path = tuktuk-counter
	url = https://github.com/rahulpatle-sol/tuktuk-counter.git
[submodule "accel-p-escrow"]
	path = accel-p-escrow
	url = https://github.com/rahulpatle-sol/accel-p-escrow.git
[submodule "anchor-fundraiser"]
	path = anchor-fundraiser
	url = https://github.com/rahulpatle-sol/anchor-fundraiser.git
[submodule "anchor-core-staking"]
	path = anchor-core-staking
	url = https://github.com/rahulpatle-sol/anchor-core-staking.git
